distro=`/bin/lsb_release -i -s`
if [ $distro == "CentOS" ]; then 
    . /opt/rh/devtoolset-8/enable
    . /opt/rh/rh-python38/enable
elif [ $distro == "Rocky" ]; then
    . /opt/rh/gcc-toolset-11/enable
fi
layout python3
