Label, Button[style~='SWT.CHECK'] {
	color: black;
}

Composite Label {
	color: black;
}

#SeparatorLabel {
	color: #1d659f;
}

/*
Text {
	font: Verdana 8px;
}
*/

Composite Text {
	background-color: white;
	color: black;
}

SashForm {
	background-color: #dddddd;
}

#DetailsView {
	background-color: #e8e8e8 #cccccc 60%;
}

Table {
	/*background-color: #e8e8e8 #cccccc 60%;*/
	background-color: #f7f7f7 60%;
	color: black;
}

Tree {
	/*background-color: #e8e8e8 #cccccc 60%;*/
	background-color: #f7f7f7 60%;
	color: black;
}

.MTrimBar {
	background-color: white #dddddd #eeeeee 35% 25% 25%;
	color: white;
}

CTabFolder {
	/* The tab rendering background for the min/max toolbar pulls 
	 * background from the tabfolder's background (or it's parent?)
	 * and so the gradient doesn't come through. So just set the
	 * tabfolder's background to a color */
	/*background-color: white #dddddd #eeeeee 35% 25% 25%;*/
	background-color: #eeeeee;
	color: white;
	swt-simple: true;	
}

CTabItem {
	color: black;
}

CTabItem:selected {
	background-color: #cccccc #e8e8e8 60%;
	font-weight: normal;
}

CTabItem.active:selected {
	background-color: #ffffff #cccccc #dddddd 50% 50%;
	color: #1d659f;
	font: bold;
}

Shell {
    background-color: #e8e8e8 #cccccc 60%;
    swt-background-mode: default;
}
