<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="TxViewer"
            id="com.minres.scviewer.ui">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.minres.scviewer.ui.TxEditorPart"
            contributorClass="com.minres.scviewer.ui.TxEditorActionBarContributor"
            extensions="txdb"
            icon="icons/sample.gif"
            id="com.minres.scviewer.ui.TxEditorPart"
            name="Wave Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.minres.scviewer.ui.TxEditorPart">
         <propertyCategory
               category="Transaction"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.minres.scviewer.ui.TxEditorPart">
         <propertyTab
               category="Transaction"
               id="com.minres.scviewer.ui.propertyTabTransaction"
               label="Transaction">
         </propertyTab>
         <propertyTab
               afterTab="com.minres.scviewer.ui.propertyTabTransaction"
               category="Transaction"
               id="com.minres.scviewer.ui.propertyTabAttributes"
               label="Attributes">
         </propertyTab>
         <propertyTab
               afterTab="com.minres.scviewer.ui.propertyTabAttributes"
               category="Transaction"
               id="com.minres.scviewer.ui.propertyTabRelated"
               label="Related Tx">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.minres.scviewer.ui.TxEditorPart">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="com.minres.scviewer.ui.propertySectionAll"
               tab="com.minres.scviewer.ui.propertyTabTransaction">
            <input
                  type="com.minres.scviewer.database.ITransaction">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.minres.scviewer.ui.propertySectionAll"
               class="com.minres.scviewer.ui.views.sections.AttributeProperty"
               id="com.minres.scviewer.ui.propertySectionAttributes"
               tab="com.minres.scviewer.ui.propertyTabAttributes">
            <input
                  type="com.minres.scviewer.database.ITransaction">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.minres.scviewer.ui.propertySectionAttributes"
               class="com.minres.scviewer.ui.views.sections.RelatedProperty"
               id="com.minres.scviewer.ui.propertySectionRelated"
               tab="com.minres.scviewer.ui.propertyTabRelated">
            <input
                  type="com.minres.scviewer.database.ITransaction">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.minres.scviewer.database.ITransaction"
            class="com.minres.scviewer.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.minres.scviewer.ui.TxEditorInputFactory"
            id="com.minres.scviewer.ui.TxEditorInputFactory">
      </factory>
   </extension>

</plugin>
