<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="TxViewer"
            id="com.itjw.txviewer.graph">
      </category>
      <view
            category="com.itjw.txviewer.graph"
            class="com.itjw.txviewer.graph.views.SelectionPropertiesView"
            icon="icons/sample.gif"
            id="com.itjw.txviewer.graph.views.SelectionPropertiesView"
            name="Transaction Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.itjw.txviewer.graph.TxEditorPart"
            extensions="txdb"
            icon="icons/sample.gif"
            id="com.itjw.txviewer.graph.TxEditorPart"
            name="Wave Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.itjw.txviewer.graph.TxEditorPart">
         <propertyCategory
               category="Transaction"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.itjw.txviewer.graph.TxEditorPart">
         <propertyTab
               category="Transaction"
               id="com.itjw.txviewer.graph.propertyTabTransaction"
               label="Transaction">
         </propertyTab>
         <propertyTab
               afterTab="com.itjw.txviewer.graph.propertyTabTransaction"
               category="Transaction"
               id="com.itjw.txviewer.graph.propertyTabAttributes"
               label="Attributes">
         </propertyTab>
         <propertyTab
               afterTab="com.itjw.txviewer.graph.propertyTabAttributes"
               category="Transaction"
               id="com.itjw.txviewer.graph.propertyTabRelated"
               label="Related Tx">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.itjw.txviewer.graph.TxEditorPart">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="com.itjw.txviewer.graph.propertySectionAll"
               tab="com.itjw.txviewer.graph.propertyTabTransaction">
            <input
                  type="com.itjw.txviewer.graph.data.ITransactionFacade">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.itjw.txviewer.graph.propertySectionAll"
               class="com.itjw.txviewer.graph.views.sections.AttributeProperty"
               id="com.itjw.txviewer.graph.propertySectionAttributes"
               tab="com.itjw.txviewer.graph.propertyTabAttributes">
            <input
                  type="com.itjw.txviewer.graph.data.ITransactionFacade">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.itjw.txviewer.graph.propertySectionAttributes"
               class="com.itjw.txviewer.graph.views.sections.RelatedProperty"
               id="com.itjw.txviewer.graph.propertySectionRelated"
               tab="com.itjw.txviewer.graph.propertyTabRelated">
            <input
                  type="com.itjw.txviewer.graph.data.ITransactionFacade">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
