<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="%product.description"
            name="%product.name">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.minres.scviewer.e4.application/com.minres.scviewer.e4.application.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="SCViewer">
         </property>
         <property
               name="windowImages"
               value="icons/SCViewer_16x32.png,icons/SCViewer_32x32.png,icons/SCViewer_48x32.png,icons/SCViewer_64x32.png,icons/SCViewer_128x32.png,icons/SCViewer_256x32.png">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.minres.scviewer.e4.application/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.minres.scviewer.e4.application.oneWaveSeleted">
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
 				<iterate
           operator="or">
       				<instanceof value="com.minres.scviewer.database.IWaveform"/>
    			</iterate>      
            </and>
            </with>
      </definition>
      <definition
            id="com.minres.scviewer.e4.application.oneTxSeleted">
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
 				<iterate
           operator="or">
       				<instanceof value="com.minres.scviewer.database.ITx"/>
    			</iterate>      
            </and>
            </with>
      </definition>
      <definition
            id="com.minres.scviewer.e4.application.waveformViewerActive">
         <with
               variable="activeEditorId">
            <equals
                  value="com.minres.scviewer.e4.application.partdescriptor.waveformviewer">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.minres.scviewer.e4.application.preferences.DefaultValuesInitializer">
      </initializer>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
       <page
            class="com.minres.scviewer.e4.application.preferences.SCViewerPreferencesPage"
            id="com.minres.scviewer.e4.application.preferences.scviewer"
            name="SCViewer Page">
      </page>
      <page
            class="com.minres.scviewer.e4.application.preferences.WaveformPreferencesPage"
            id="com.minres.scviewer.e4.application.preferences.waveform"
            name="Waveform view"
            category="com.minres.scviewer.e4.application.preferences.scviewer">
      </page>
   </extension>

</plugin>
